* {
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
}
body {
    background: #f5f5f5;
    overflow-x: hidden;
}
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #ffb643;
}
::-webkit-scrollbar-thumb {
background: #000442;
border-radius: 10px;
}
::selection {
    background: #000442;
    color: #ffb643;
}
.navbar .container-fluid .navbar-brand {
    color: #000442 !important;
}
.navbar .container-fluid .collapse .search-btn {
    background: #000442;
    color: #ffb643;
}
.navbar .container-fluid .collapse .search-btn:hover {
    background: #ffb643;
    color: #000442;
}
.sign button {
    padding-left: 0;
}
.cart button {
    padding-left: 0;
}
.hero-section .row .categories .row .col-12 a {
    color: #000442 !important;
    font-weight: bold;
    transition: all 0.1s ease;
}
.hero-section .row .categories .row .col-12 a:hover {
    color: #ffb643 !important;
    font-weight: bold;
}
.carousel {
    height: 55vh !important;
    margin: auto !important;
}
.carousel .carousel-inner .carousel-item .hero {
    background-image: url(https://img.freepik.com/free-photo/abstract-orange-background-layout-design-studio-room-web-template-business-report-with-smooth-circle-gradient-color_1258-69033.jpg?size=626&ext=jpg&uid=R88143231&ga=GA1.1.435754364.1664882235&semt=ais);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px !important;
    height: 55vh !important;
}
.carousel .carousel-inner .carousel-item .hero .row .col-6 .hero-pic {
    margin: auto !important;
    margin-top: 30px !important;
    height: 60% !important;
    width: 80% !important;
}
.carousel .carousel-inner .carousel-item .hero .row .col-6 .hero-pic img {
    height: 100% !important;
}
.carousel .carousel-inner .carousel-item .hero .row .col-6 .hero-text {
    margin: auto !important;
    margin-top: 30px !important;
    padding: none !important;
    height: 60% !important;
    width: 100% !important;
}
.carousel .carousel-inner .carousel-item .hero .row .col-6 .hero-text h1 {
    font-size: 40px !important;
    color: #000442 !important;
}
.stock-section {
    width: 90vw;
    margin: auto;
}
.stock-section .section-nav h2{
    background: #000442;
    color: #ffb643;
    padding: 20px;
}
.stock-section .row .stock-box {
    height: 30rem !important;
}
.stock-section .row .stock-box a .card{
    color: #000442;
    height: 30rem !important;
}
.stock-section .row .stock-box a .card:hover{
    transform: scale(110%) !important;
    transition: all 0.7s ease;
}
footer {
    height: 35vh;
    background: #000442;
}
footer .row .footer-info {
    border-bottom: 1px solid #ffb643 !important;
}
footer .row .col-12 .row .col-12 h1 {
    color: #ffb643;
    font-size: 3rem !important;
    display: inline !important;
}
footer .row .col-12 .row .col-12 i {
    color: #ffb643;
    font-size: 3rem !important;
    display: inline !important;
}
footer .row .col-12 .row .col-12 p {
    color: #ffb643;
    font-size: 1rem !important;
}
footer .row .col-12 .row .col-12 input {
    border: 1px solid #ffb643 !important;
    color: #ffb643;
    background: none;
}
footer .row .col-12 .row .col-12 input::placeholder {
    color: #ffb643;
}
footer .row .col-12 .row .col-12 .btn {
    border:1px solid #ffb643 !important;
    color: #ffb643;
}
footer .row .col-12 .row .col-12 .btn:hover {
    background: #ffb643;
    color: #000442;
}
footer .row .col-12 .row .col-12 .row .col-3 a i {
    font-size: 1.5rem !important;
}
footer .row .col-12 .row .col-12 .row .col-3 a i:hover {
    color: #f5f5f5;
    transition: all 0.3s ease;
}
footer .row .col-12 .footer-copyright {
    color: #ffb643;
}

@media (max-width: 688px) {
    .find {
        width: 60vw !important;
    }
    .carousel {
        height: 20vh !important;
    }
    .carousel .carousel-inner .carousel-item .hero {
        height: 20vh !important;
    }
    .carousel .carousel-inner .carousel-item .hero .row .hero-div .hero-pic {
        margin: auto !important;
        margin-top: 10px !important;
        height: 80% !important;
        width: 80% !important;
    }
    .carousel .carousel-inner .carousel-item .hero .row .hero-div .hero-pic img {
        width: 100% !important;
        height: 100% !important;
    }
    .carousel .carousel-inner .carousel-item .hero .row .hero-text-div .hero-text {
        margin-top: 10px !important;
        height: 80% !important;
        width: 80% !important;
    }
    .carousel .carousel-inner .carousel-item .hero .row .hero-text-div .hero-text h1 {
        font-size: 1.2rem !important;
    }
    .stock-section .row .stock-box{
        width: 10rem !important;
        height: 28rem !important;
    }
    .stock-section .row .stock-box a .card{
        width: 12rem !important;
        height: 25rem !important;
    }
    footer {
        height: 60vh;
    }
    footer .row .col-12 .footer-copyright {
        width: 70% !important;
    }
}